{
  "arrowParens": "always",
  "printWidth": 120,
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}